body{
	padding: 0px;
	margin: 0px;
	width：100%;
	height:100%;
}

#indexhome{
	width:40%;
	height:40%;
	background-color:#c0c0c0;
	opacity: 0.2;
	position: absolute;
    left: 30%;
    top: 30%;
	border-radius: 15px;
}

.index{
	width:90%;
	height:30%;
	border:1px solid black;
	margin:5px auto;
}

.index a{
	text-decoration: none;
}

.index h1{
	color:#1b0101;
	font-weight:bolder;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}

.index h1:hover{
	color:#ffffff;
}

.index p{
	margin-top:10px;
	text-align:center;
	font-size:14px;
}





