body{
	padding: 0px;
	margin: 0px;
	width：100%;
	height:100%;
	background-color:#f5f5d5;
}

/* 去掉input框点击后会出现蓝色的边框 */
input{
	outline:none
} 

h2{
	padding: 0px;
	margin: 0px;	
}

#indexhome{
	width:40%;
	height:40%;
	background-color:black;
	opacity: 0.2;
	position: absolute;
    left: 30%;
    top: 30%;
	border-radius: 15px;
}

.index{
	width:90%;
	height:30%;
	/* border:1px solid white; */
	margin:5px auto;
}

#hrborder{
	border-bottom:1px solid white;
	border-top:1px solid white;
}

.index a{
	text-decoration: none;
}

.index h1{
	color:#ffffff;
	font-weight:bolder;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}

.index h1:hover{
	color:#e2e20e;
}

.index p{
	margin-top:7px;
	text-align:center;
	font-size:16px;
	color:white;
	font-weight:bold;
}

.container{
	width:90%;
	height:50%;
	/* border:1px solid white; */
	margin:20px auto;
	background-color:white;
	border-radius:8px;
}

.container:hover{
	background-color:red;
}

.container p{
	color:black;
	font-size:24px;
	text-align:left;
	padding-top:3px;
	padding-left:20px;
}

.contact{
	width:90%;
	height:50%;
	/* border:1px solid white;  */
	margin:20px auto;
}

.contact span{
	float:right;
	font-size:18px;
	color:white;
	display:block;
	font-weight:bold;
	padding-top:8px;
}

.contact span:hover{
	color:red;
}

/* blog页面css样式设计 */
.blog-content{
	width:80%;
/* 	height:80%;	 */
	/* border:1px solid black; */
	margin:0 auto;
}

.blog-head{
	height:90px;
	border-bottom:1px solid #d3d3d3;
	
}
.blog-head span{
	color:#556677;
	font-size:20px;
    margin-top: 30px;
    display: block;
    float: left;
}

.searchbox{
	width:200px;
	height:27px;
	margin-top: 30px;
    background:url("../image/searchbox.png") -53px -42px;
    float: right;
    background-repeat: no-repeat;
    border-color:#556677;
}

.searchbox input{
	width:160px;
	height:25px;
	margin-top:0px;
}

.search-btn{
	width:40px;
	height:22px;
	float:right;
/* 	border:1px solid red; */
	display:block;
}

.blog-middle{
	margin-top:10px;
	width:100%;
	/* border:1px solid blue; */
	float:left;
	border-bottom:1px solid #d3d3d3;
}

.middle-left{
	margin-left:6%;
	width:58%;
/* 	height:400px; */
	float:left;
	/* border:1px solid black; */
	margin-bottom:20px;
}

.middle-right{
	margin-right:6%;
	width:26%;
	/* height:400px; */
	float:right;
/* 	border:1px solid red; */
}

.first-title{
	color: #000000;
    font-weight:500;
    font-size:28px;
    text-decoration: none;
}

a:hover {
    color: #556677;
}

.title-div{
	height:144px;
	width:100%;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	margin-top:10px;
	
}

.blog-type{
	float:right;
}

.blog-type a{
	text-decoration: none;
	color:orange;
}

.second-title{
	margin-top:50px;
	margin-left:40px;
}

.view-title{
	margin-top:10px;
	margin-left:40px;
	text-decoration: none;
	color:green;
}

.view-title:hover{
    color: #556677;
}

.dateAndmessage{
    color: #3d3d3d;
    font-size:10px;
    float:right;
    padding-top:14px;
}

.latest-blog{
	font-size:22px;
}

.latest-blog-title{
	width:100%;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}

.blog-list{
	
}

#blog-list li{
	margin-top:10px;
	color: #556677;
}

#blog-list li span{
    color: rgba(0,0,0,0.5);
}

#blog-list li a{
   text-decoration: none;
   color:#556677;
   font-weight:bold;
}

#blog-list li a:hover{
   color:black;
}

.dateAndmessage a{
	text-decoration: none;
}

.copyright{
    font-size: 12px;
    font-family: microsoft yahei;
    color: #444;
    float:right;
}

.copyright a{
	text-decoration: none;
	color: #444;
}

/* 右侧留言个人信息 */
.person-msg{
	width:100%;
	background-color: #DEEBF7;
	border-radius:15px;
	margin-top: 0px;
}

.person-msg h2{
	padding-left: 20px;
	padding-top: 10px;
	font-size:16px;
	padding-bottom: 10px;
	border-bottom:1px solid #d3d3d3;
}

.person-msg ul{
	margin-top: 0px;
	padding-bottom: 10px;
}

.person-msg ul li{
	padding-left: 20px;
	padding-top: 10px;
}

/* headandleft样式设计 */
.blog-menu{
	width:80%;
	margin:0 auto;
	/* border:1px solid black; */
}

.saveorpublish{
	width:17%;
	/* border:1px solid black; */
	margin:10px auto;
}

/* 日志预览 */
.middle-left-view{
	margin-left:10%;
	margin-right:10%;
	width:80%;
/* 	height:400px; 
	float:left;  */
	/* border:1px solid black; */
	margin-bottom:20px;
}

.person-msg h2 a{
	color: #a9af52;
}

.title-div-content{
	/* height:144px; */
	width:100%;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	margin-top:10px;
}

.view-blogContent{
	margin-top: 80px;
}

pre{
	background-color:#DEEBF7;
    border-radius: 3px;
}

code{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.icon_pic{
	margin-top:5px;
}

.icon_pic a{
	text-decoration: none;
	margin-left: 20px;
}
















