body{
	padding: 0px;
	margin: 0px;
	width：100%;
	height:100%;
}

#indexhome{
	width:40%;
	height:40%;
	background-color:black;
	opacity: 0.2;
	position: absolute;
    left: 30%;
    top: 30%;
	border-radius: 15px;
}

.index{
	width:90%;
	height:30%;
	/* border:1px solid white; */
	margin:5px auto;
}

#hrborder{
	border-bottom:1px solid white;
	border-top:1px solid white;
}

.index a{
	text-decoration: none;
}

.index h1{
	color:#ffffff;
	font-weight:bolder;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}

.index h1:hover{
	color:#e2e20e;
}

.index p{
	margin-top:7px;
	text-align:center;
	font-size:16px;
	color:white;
	font-weight:bold;
}

.container{
	width:90%;
	height:50%;
	/* border:1px solid white; */
	margin:20px auto;
	background-color:white;
	border-radius:8px;
}

.container:hover{
	background-color:red;
}

.container p{
	color:black;
	font-size:24px;
	text-align:left;
	padding-top:3px;
	padding-left:20px;
}

.contact{
	width:90%;
	height:50%;
	/* border:1px solid white;  */
	margin:20px auto;
}

.contact span{
	float:right;
	font-size:18px;
	color:white;
	display:block;
	font-weight:bold;
	padding-top:8px;
}

.contact span:hover{
	color:red;
}
